@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --base: #475979;
    --verde: #82C7A5;
    --azul: #0145AC;
}

body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    color: #000;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}

/*********** Cabeçalho ***********/

header {
    background-color: #000;
    padding: 40px 0px
}

h1 {
    text-align: center;
    color: var(--verde);
}

p {
    text-align: center;
    color: var(--azul);
    margin-top: 10px;
}

/*********** Main ***********/

main {
    background-color: #fff;
    padding-bottom: 30px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

nav button {
    width: 140px;
    height: 30px;
}

.home {
    background-color: #013f9b;
    color: var(--verde);
    border: 0.5px solid black;
    border-radius: 20px 0px 0px 20px;
    font-weight: bold;
    font-size: 12px;
    box-shadow: inset 2px -2px 4px 1px rgba(0, 0, 0, 0.7);
}

.tdp {
    color: darkgray;
    border: 0.5px solid black;
    border-radius: 0px 20px 20px 0px;
    font-weight: bold;
    font-size: 12px;
}

.tdp:hover {
    cursor: pointer;
    color: #000;
}

.tdp:active {
    box-shadow: inset -2px -2px 4px 1px rgba(0, 0, 0, 0.7);
    background-color: #cccccc;
    color: rgba(0, 0, 0, 0.7);
}

article {
    margin: 20px 0px;
}

article h2 {
    height: 30px;
    margin-bottom: 20px;
    text-indent: 10px;
}

section {
    display: flex;
    overflow-x: scroll;
    background-color: var(--base);
}

.produtos {
    position: relative;
    width: 178px;
    height: 280px;
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1.75px 1.75px 3.25px rgba(0, 0, 0, 0.6);
}

section img {
    width: 150px;
    height: 150px;
    margin: 13px;
}

.tv {
    height: 120px;
}

.cell {
    width: 80px;
    margin-left: 49px;
}

.calca {
    width: 90px;
    margin-left: 44px;
}

.relogio {
    width: 100px;
    margin-left: 39px;
}

.sofa {
    height: 75px;
    margin-top: 44px;
}

.mesa {
    height: 100px;
    margin-top: 31.5px;
}

.cadeira {
    width: 100px;
    margin-left: 39px;
}

.cama {
    height: 100px;
    margin-top: 40px;
}

.produtos p {
    position: absolute;
    width: 150px;
    height: 120px;
    top: 160px;
    left: 13px;
    font-size: 0.9em;
    text-align: justify;
}

.produtos span {
    position: absolute;
    top: 245px;
    left: 20px;
    font-size: 1.2em;
    color: #0145AC;
}

/*********** Rodapé ***********/

footer {
    width: 100%;
    padding: 30px 0px;
    background-color: #000;
    color: var(--verde);
}

footer h3 {
    text-indent: 20px;
}

footer ul {
    list-style-type: none;
    text-align: justify;
    margin-top: 20px;
    text-indent: 20px;
}