@charset "UTF-8";

/* Fonte usada para os preços dos produtos: Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fonte usada para título: Secular One*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --base: #475979;
    --verde: #82C7A5;
    --azul: #0145AC;
    --fonte-valores: 'Kanit', Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Secular One', 'Courier New', Courier, monospace;
}

body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 5.5px;
    height: 5.5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}

/*********** Cabeçalho ***********/

header {
    background-color: #000;
    padding: 40px 0px
}

header h1, header p {
    color: var(--verde);
}

h1 {
    text-align: center;
    color: var(--verde);
    font-family: var(--fonte-destaque);
    font-size: 3em;
}

p {
    text-align: center;
    color: var(--azul);
    margin-top: 10px;
}

/*********** Main ***********/

main {
    background-color: #fff;
    padding-bottom: 30px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

nav button {
    width: 140px;
    height: 30px;
}

.home, .tdp {
    border: 0.5px solid black;
    font-weight: bold;
    font-size: 12.5px;
}

.home {
    background-color: #013f9b;
    color: var(--verde);
    border-radius: 20px 0px 0px 20px;
    box-shadow: inset 2px -2px 4px 1px rgba(0, 0, 0, 0.7);
}

.tdp {
    color: darkgray;
    border-radius: 0px 20px 20px 0px;
}

.tdp:hover {
    cursor: pointer;
    color: #000;
}

.tdp:active {
    box-shadow: inset -2px -2px 4px 1px rgba(0, 0, 0, 0.7);
    background-color: #cccccc;
    color: rgba(0, 0, 0, 0.7);
}

article {
    margin: 20px 0px;
}

article h2 {
    height: 30px;
    margin: 25px 0px 5px 0px;
    text-indent: 10px;
}

section {
    display: flex;
    overflow-x: scroll;
    background-color: var(--base);
}

.produtos {
    position: relative;
    width: 178px;
    height: 280px;
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 1.75px 3.25px rgba(0, 0, 0, 0.6);
}

section img {
    width: 150px;
    height: 150px;
    margin: 13px;
}

.tv {
    height: 120px;
}

.cell {
    width: 80px;
    margin-left: 49px;
}

.calca {
    width: 90px;
    margin-left: 44px;
}

.relogio {
    width: 100px;
    margin-left: 39px;
}

.sofa {
    height: 75px;
    margin-top: 44px;
}

.mesa {
    height: 100px;
    margin-top: 31.5px;
}

.cadeira {
    width: 100px;
    margin-left: 39px;
}

.cama {
    height: 100px;
    margin-top: 40px;
}

.produtos p {
    position: absolute;
    width: 150px;
    height: 120px;
    top: 160px;
    left: 13px;
    font-size: 0.95em;
    text-align: left;
}

.produtos span {
    position: absolute;
    top: 245px;
    left: 20px;
    font: 600 1.5em var(--fonte-valores);
    color: #0145AC;
}

/*********** Rodapé ***********/

footer {
    padding: 30px 20px;
    background-color: #000;
    color: var(--verde);
}

footer h3 {
    font-size: 25px;
    font-family: var(--fonte-destaque);
}

footer ul {
    list-style-type: none;
    text-align: justify;
    margin-top: 20px;
}