@charset "UTF-8";

/* Fonte usada para os preços dos produtos: Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fonte usada para título: Secular One*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --base: #475979;
    --verde: #82C7A5;
    --azul: #0145AC;
    --fonte-valores: 'Kanit', Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Secular One', 'Courier New', Courier, monospace;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--base);
}

/*********** Cabeçalho ***********/

header {
    background-color: #000;
    padding: 40px 0px
}

h1 {
    text-align: center;
    color: var(--verde);
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
}

header p {
    text-align: center;
    color: var(--azul);
    margin-top: 10px;
}

/*********** Main ***********/

main {
    background-color: transparent;
}

/* Imagem e produto */

nav, section{
    background-color: #fff;
}

nav {
    padding: 10px;
}

nav li:not(:last-child)::after {
    margin: 0px 10px;
    content: ">";
}

.breadchumb {
    display: flex;
    list-style-type: none;
    font-size: 14px;
}

.breadchumb a {
    color: #000;
    text-decoration: none;
}

.breadchumb a:hover {
    text-decoration: underline;
}

.produto {
    padding: 0px 10px 30px 10px;
}

.produto img {
    display: block;
    margin: auto;
    height: 200px;
}

.produto h2 {
    margin-top: 7.5px;
    text-align: justify;
    font-size: 24px;
    color: #0145AC;
}

.produto span {
    font: 600 1.8em var(--fonte-valores);
    color: #0145AC;

}

/*Pagamento e descrição*/

.pagamento {
    padding: 10px;
}

.pagamento h2 {
    margin-bottom: 15px;
}

.pagamento input {
    margin: 3px 0px;
    border: 0.5px solid black;
}

.dados {
    height: 25px;
    font-size: 1.125em;
    text-indent: 10px;
    width: 100%;
    border-radius: 30px;
}

.enviar {
    width: 66%;
    background-color: var(--azul);
    color: #fff;
}

.limpar {
    width: 33%;
    background-color: #fff;
}

.enviar, .limpar {
    height: 35px;
    border-radius: 5px;
    font-size: 1.1em;
    border: none;
}

.enviar:hover, .limpar:hover {
    cursor: pointer;
}

.detalhes {
    padding: 30px 10px;
}

.detalhes table {
    height: 350px;
    width: 400px;
    margin-top: 10px;
}

.detalhes table td {
    text-indent: 5px;
    padding: 5px;
    color: #555;
}

.detalhes tbody tr:nth-child(2n-1) {
    background-color: #F2F2F2;
}

/*********** Rodapé ***********/

footer {
    padding: 30px 20px;
    background-color: #000;
    color: var(--verde);
}

footer h3 {
    font-size: 25px;
    font-family: var(--fonte-destaque);
}

footer ul {
    list-style-type: none;
    text-align: justify;
    margin-top: 20px;
}