@charset "UTF-8";

/* Typical Device Breakpoints 

--------------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px

*/

:root {
    --base: #475979;
    --verde: #82C7A5;
    --azul: #0145AC;
    --fonte-valores: 'Kanit', Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Secular One', 'Courier New', Courier, monospace;
}

@media screen and (min-width: 761.9px) {

    nav button {
        width: clamp(140px, 18vw, 180px);
        height: clamp(30px, 4vw, 40px);
    }

    section {
        border-radius: 15px;
        box-shadow: inset 0px 1.75px 3.25px 1px rgba(0, 0, 0, 0.6);
        justify-content: space-around;
    }
}

@media screen and (min-width: 991.9px) {
    body {
        background-color: var(--base);
    }

    main {
        width: 947px;
        padding: 0px 20px 30px 20px;
        margin: auto;
        margin-bottom: 40px;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 1.75px 3.25px rgba(0, 0, 0, 0.6);
    }

    section {
        width: 946px;
        border-radius: 20px;
    }
}